.menu {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}

.menu:hover {
  font-size: 35px;
  transition: 0.3s;
}

.header-container {
  border-bottom: 1px solid white;
}

footer {
  grid-column: 1/4;
  border-top: 1px solid white;
  display: grid;
  grid-template-columns: 250px auto;
  margin-top: 4em;
}

.footer-links {
  grid-column: 2/3;
  margin-left: 3em;
}

.footer-links-index {
  grid-column: 1/2;
  margin-left: 5px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #292929;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 4em;
}

.sidenav a {
  padding: 11px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  font-size: 27px;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@supports (grid-area: auto) {
  /*--------------------------------------------------------
  Grid for view ports 1024px and wider 
  ---------------------------------------------------------*/
  @media screen and (min-width: 1024px) {
    /*--------------------------------------------------------
    Grid styling for index page 
    ---------------------------------------------------------*/
    .site-index {
      width: 945px;
      margin: 3em auto;
    }

    .main-area {
      /*grid container for index-page only*/
      display: grid;
      grid-template-columns: 315px 315px 315px;
      grid-template-rows: auto auto auto auto;
    }

    .link-projects {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .img-projects {
      grid-column: 2/4;
      grid-row: 1/2;
      width: 630px;
    }

    .link-database {
      grid-column: 1/3;
      grid-row: 2/3;
    }

    .img-database {
      grid-column: 3/4;
      grid-row: 2/3;
      width: 315px;
    }

    .img-api {
      grid-column: 1/2;
      grid-row: 3/4;
      width: 315px;
    }

    .link-api {
      grid-column: 2/4;
      grid-row: 3/4;
    }

    .link-resume {
      grid-column: 1/2;
      grid-row: 4/5;
    }

    .img-resume {
      grid-column: 2/3;
      grid-row: 4/5;
      width: 315px;
    }

    .link-about {
      grid-column: 3/4;
      grid-row: 4/5;
    }

    .page-title {
      grid-column: 1/2;
    }
    .img-pages {
      width: 250px;
      grid-column: 1/2;
    }

    /***********************************************
    Page element styling for all pages, except Index
    ************************************************/

    .site {
      margin: 3em auto;
      max-width: 1460px;
      padding: 3em;
      display: grid;
      grid-template-columns: auto auto auto;
    }

    .cards {
      grid-column: 2/4;
      display: grid;
      grid-template-columns: auto auto;
    }

    .card {
      margin-left: 3em;
      border-top: 1px solid white;
      margin-bottom: 2em;
      display: grid;
      grid-template-rows: auto auto auto;
      text-align: left;
    }

    .card-title {
      font-size: 16pt;
      font-weight: bold;
      margin-top: 5px;
    }

    .header-container {
      grid-column: 1/4;
      border-bottom: 1px solid white;
    }

    .logo {
      width: 75px;
      margin-bottom: 1em;
    }

    .logo:hover {
      cursor: pointer;
      transform: rotate(45deg);
      transition: 0.3s;
    }
  }
}
