/*
Author: Evan Durkin
*/
body {
  background-color: #0f0f0e;
}

h1,
h2,
.card-title {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: bold;
  font-size: 45px;
}

h2 {
  margin-top: 0;
}

p,
.header-container,
.header-project-page,
.footer-links,
.footer-links-index {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: white;
}

.link {
  font-size: 38pt;
  transition-duration: 0.4s;
  text-align: left;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
  vertical-align: bottom;
}

.card-link {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  font-size: 16pt;
}

.view-project:hover {
  color: #04bf68;
}
.view-diagram:hover {
  color: #9e91f2;
}
.view-test:hover {
  color: #f28241;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
}

a:visited {
  color: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.card-title {
  font-size: 16pt;
  font-weight: bold;
  margin-top: 5px;
}

.card-content {
  font-size: 16pt;
}

/***********************************
  INDEX PAGE STYLING
***********************************/

.link-projects:hover {
  color: #04bf68;
  border: 4px solid #04bf68;
  border-radius: 0;
  background-color: #beeed9;
}

.link-database:hover {
  color: #9e91f2;
  border: 4px solid #9e91f2;
  border-radius: 0;
  background-color: #e7e2fd;
}

.link-api:hover {
  color: #f28241;
  border: 4px solid #f28241;
  border-radius: 0;
  background-color: #fae1c1;
}

.link-resume:hover {
  color: #446ff2;
  border: 4px solid #446ff2;
  border-radius: 0;
  background-color: #d1dafb;
}

.link-about:hover {
  color: #ff6666;
  border: 4px solid #ff6666;
  border-radius: 0;
  background-color: #fed8d8;
}
